*{
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
}

h1{
    color: #050;
    text-align: center;
    margin: 50px;

}

h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0px 0px 10px;
}


button{
    /* margin: 10px; */
    font-size: 20px;
    padding: 5px 15px 5px;
}

#tempDiv{
    margin: 20px;
    padding-bottom: 40px;
}

#lightDiv{
    margin: 20px;
    padding-bottom: 40px;
}

#fanDiv{
    margin: 20px;
    padding-bottom: 40px;
}

#refreshIcon{
    cursor: pointer;
    transition: 0.5s all;
}

#refreshIcon:active{
    transform: rotate(180deg);
}

.offBulb{
    display: block;
    margin: 0px 0px 10px;
    font-size: 45px;
    /* transform: translateY(7px); */
}

.bulb{
    width:  50px;
    height: 50px;
}

.fan{
    width:  50px;
    height: 50px;
    margin: 0px 0px 10px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#fanon{
    animation: rotation 0.8s linear infinite;
}