*{
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
}

body{
    background-image: url('https://media.istockphoto.com/photos/scandinavian-style-modern-home-office-interior-picture-id1177844431?b=1&k=20&m=1177844431&s=170667a&w=0&h=XtL1eeJtDVT09mNy6Z1VtwhQVug-BprDEFNABs2y2lo=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    font-family: 'Poppins', sans-serif;
    margin: auto;
    
    height: 1000px;
}

h1{
    color: #050;
    text-align: center;
    padding: 50px;

}

h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0px 0px 10px;
}


button{
    /* margin: 10px; */
    font-size: 20px;
    padding: 5px 15px 5px;
}

#tempDiv{
    margin: 20px;
    padding-bottom: 40px;
}

#lightDiv{
    margin: 20px;
    padding-bottom: 40px;
}

#fanDiv{
    margin: 20px;
    padding-bottom: 40px;
}

#refreshIcon{
    cursor: pointer;
    transition: 0.5s all;
}

#refreshIcon:active{
    transform: rotate(180deg);
}

.offBulb{
    display: block;
    margin: 0px 0px 10px;
    font-size: 45px;
    /* transform: translateY(7px); */
}

.bulb{
    width:  50px;
    height: 50px;
}

.fan{
    width:  50px;
    height: 50px;
    margin: 0px 0px 10px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#fanon{
    animation: rotation 0.8s linear infinite;
}